#git update-index --assume-unchanged src/main/java/com/enchantedelegance/root/RootPath.java
#git update-index --assume-unchanged src/main/resources/data/adminmanagement/admins.txt
#git update-index --assume-unchanged src/main/resources/data/bookingmanagement/booking.txt
#git update-index --assume-unchanged src/main/resources/data/contactmanagement/contact.txt
#git update-index --assume-unchanged src/main/resources/data/feedbackmanagement/Feedback.txt
#git update-index --assume-unchanged src/main/resources/data/offermanagement/Offer.txt
#git update-index --assume-unchanged src/main/resources/data/usermanagement/users.txt


# Ignore RootPath.java
src/main/java/com/enchantedelegance/root/RootPath.java

# Ignore all .txt files inside any subfolder of data/
src/main/resources/data/*/*.txt

#git ignore